<main class="main-view">
    <!-- Side Bar Menu -->
    <nav class="sidebar shadow-lg">
        <h4 class="title">My Balance</h4>

        <ul>
            <li>
                <a [routerLink]="['/members/home']" routerLinkActive="active" >
                    <i class="bi-house"> Home</i>
                </a>
            </li>
            <li>
                <a [routerLink]="['/members/report']" routerLinkActive="active" >
                    <i class="bi-bar-chart"> Balance Reports</i>
                </a>
            </li>
            <li>
                <a [routerLink]="['/members/management/Credit']" routerLinkActive="active" >
                    <i class="bi-wallet"> Credit Management</i>
                </a>
            </li>
            <li>
                <a [routerLink]="['/members/management/Debit']" routerLinkActive="active" >
                    <i class="bi-cart"> Debit Management</i>
                </a>
            </li>
            <li>
                <a [routerLink]="['/members/ledger']" routerLinkActive="active" >
                    <i class="bi-book"> Ledger Management</i>
                </a>
            </li>
            <li>
                <a [routerLink]="['/members/password']" routerLinkActive="active" >
                    <i class="bi-key"> Change Password</i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi-lock"> Sign out</i>
                </a>
            </li>
        </ul>
    </nav>

    <!-- Contents -->
    <article class="w-100">
        <router-outlet></router-outlet>
    </article>
</main>
